<div class="modal-header">
    <h4 class="modal-title">Choose a user</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p style="background-color:blue; color :white; font-weight: bold;">Click on User Name to select</p>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Manager Name</th>
            <th>Manager Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let item of projectMgmtService.usersList">
            <td><a (click)="saveManager(item.user_id);">{{item.firstName}} &nbsp; {{item.lastName}}</a></td>
            <td>{{item.user_id}}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeUsersModal()">Close</button>
  </div>

  