<div class="container">        
        <form #addProjectFrom="ngForm" (ngSubmit)="onAddProjectSubmit(addProjectFrom)" class="form-horizontal" >
          
         
          <div class="form-group">
            <label class="control-label col-sm-2" for="project">Project:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control width200" required #project="ngModel" [(ngModel)]="projectManagementSvc.selectedProject.project" name="project" id="project"  >
            </div>
          </div>
          <div class="form-group">            
            <div class="col-sm-10" style="margin-left:80px">
                      <input type="checkbox" id="checkStartDate" name="checkStartDate" >Set Start Date and EndDate
                      <input type="date" #start_date="ngModel" [(ngModel)]="projectManagementSvc.selectedProject.start_date" name="start_date" id="start_date">
                      &nbsp;
                      &nbsp;
                      <input type="date" #end_date="ngModel" [(ngModel)]="projectManagementSvc.selectedProject.end_date" name="end_date" id="end_date">
            </div>            
          </div> 
          <div class="form-group">
            <label class="control-label col-sm-2" for="priority">Priority: </label>
            <div class="col-sm-10"> 
               <input type="range" class="form-contro"  style="width:300px" min="0" max="30" step="1"
              required #priority="ngModel" [(ngModel)]="projectManagementSvc.selectedProject.priority" ng-change="setSliderValue(this.value)" name="priority" id="priority"></div>   
              <span style="float:right; margin-right: 340px;">{{projectManagementSvc.selectedProject.priority}}</span>
            </div>
            <div class="form-group">
                    <label class="control-label col-sm-2" for="manager">Manager:</label>
                    <div class="col-sm-10">
                        <div style="float: left;">                                                        
                            <input type="text" readonly class="form-control" required #manager="ngModel" [(ngModel)]="projectManagementSvc.selectedProject.manager" name="manager" id="manager" value="{{projectManagementSvc.selectedProject.manager}}"  >
                        </div>                       
                          &nbsp;  <button class="btn btn-primary" (click)="openModal()">Search</button>                         
                    </div>
                        
            </div>                   
            <hr style="border: 1px solid blue"/>
          <div>
            
            <input type ="text" class="form-control width150"  id="search" name="search" placeholder="Search...">
            <br/>
            <span class="left20Right20Margin">Sort</span>
            <span class="left20Right20Margin"><button type="button" class="btn btn-primary">Start Date</button></span>
            <span class="left20Right20Margin"><button type="button" class="btn btn-primary">End Date</button></span>
            <span class="left20Right20Margin"><button type="button" class="btn btn-primary">Priority</button></span>
            <span class="left20Right20Margin"><button type="button" class="btn btn-primary">Completed</button></span>
          </div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Here I am!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
        </form>
      </div>

