
  <div style="margin-top:20px;margin-bottom: 20px; margin-left: 10px;margin-right: 10px;">
    <h1>Project Manager</h1>
  <ul class="nav nav-pills nav-justified">
      <li class="active"><a class="nav-link" routerLink="addProject" routerLinkActive="active">Add Project</a></li>
      <li ><a class="nav-link" routerLink="addTask" routerLinkActive="active">Add Task</a></li>
      <li><a class="nav-link" routerLink="addUser" routerLinkActive="active">Add User</a></li>
      <li><a class="nav-link" routerLink="taskList" routerLinkActive="active">View Task</a></li>
    </ul>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
